/* ---- UTILITY ---- */

body {
  margin: 0 auto;
  font-family: 'Archivo Black', sans-serif;
}

div.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.nav {
  margin-right: 5px;

}

/* ---- USER TYPE ---- */


button.game_join {
  margin-left: 80px;
  width: 350px;
  height: 180px;
  font-size: 40px;
  border: solid;
  border-radius: 20px;
  background: none;
  margin-top: 100px;
  margin-right: 490px;
}

button.players_join {
  width: 350px;
  height: 180px;
  font-size: 40px;
  border: solid;
  border-radius: 20px;
  background: none;
  margin-top: 100px;
  margin-right: 200px;
}


/* ---- HOMEPAGE ---- */

div.home { 
  background: #201E1E; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  margin-top: -20px;
  height: 100vh;  

  text-align: center;
}

div.home h1 {
  margin: 10px;
  padding: 0;
  margin-bottom: 150px;
  font-size: 85px;
}

button.login {
  border: solid;
  width: 250px;
  height: 120px;
  font-size: 40px;
  border-radius: 20px;
  background: none;
  margin-right: 50px;
}

button.register {
  border: solid;
  width: 250px;
  height: 120px;
  font-size: 40px;
  border-radius: 20px;
  background: none;
  margin-left: 50px;
}


/* ---- CREATE GAME ---- */

div.panel-body {
  padding: 40px;
}

div.gmap {
  border: solid;
  border-width: 2px;
  border-radius: 5px;
}



/* ---- GAMES ---- */

div#current-games div.panel-body {
  padding: 10px;
}

tr.active {
  border: solid;
  border-width: 2px;
}

tr.table_header {
  border: solid;
  border-width: 2px;
  border-radius: 10px;
}

.search_map {
  border: solid;
  border-width: 2px;
  border-radius: 5px;
}


/* ---- MAP ---- */

.infoWindowContent {
  color: red;
}

.infoWindowTitle {
  color: red;
}