<div id="current-games" ng-controller='GamesController as games'>
  <div class="container">
    <div class="row">

      <div class="col-sm-12 col-md-12 search panel panel-default">
        <div class="panel-body">

          <div class="col-sm-12 col-md-12">
            <h2>Join a game in your sport</h2>

              <div class="form-group">
                <label for="sport">Sport</label>
                  <select name="sport" class="form-control" ng-model="games.sportSearch">
                    <option value="">All games</option>
                    <option value="Basketball">Basketball</option>
                    <option value="Football">Football</option>
                    <option value="Tennis">Tennis</option>
                    <option value="Squash">Squash</option>
                    <option value="Hockey">Hockey</option>
                    <option value="Badminton">Badminton</option>
                    <option value="Lacrosse">Lacrosse</option>
                    <option value="Netball">Netball</option>
                    <option value="Golf">Golf</option>
                    <option value="Rugby">Rugby</option>
                    <option value="Cricket">Cricket</option>
                    <option value="American Football">American Football</option>
                    <option value="Table tennis">Table tennis</option>
                    <option value="Cycling">Cycling</option>
                  </select>
              </div>

              <div class="form-group">
                <label>How many players do you have to join the game?</label>
                  <select class="form-control" ng-model="games.numberSearch">
                    <option value="">any</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="More than 5">More than 5</option>
                  </select>
              </div>
            </div>
          </div>
       </div>
    </div>

<!--     <div class="row">
      <div class="col-xsm-12">
        <div ng-show="games.selectedGame">{{ games.selectedGame.sport }}</div>
      </div>
    </div> -->

    <div class="row">
      <div class="col-sm-6 col-md-6">
        <div class="search_map" id="search_map" style="width:100%;height:500px;"></div>
        <div id="class" ng-repeat="marker in games.markers"></div>
      </div>

      <div class="outer col-sm-6 col-md-6">
        <div class="innera">
          <table class="table table-fixed table-striped table-hover">
            <thead>
              <tr>
                <th>Sport</th>
                <th>Date</th>
                <th>Place name</th>
                <th>Start time</th>
                <th>End time</th>
                <th>Number of players wanted</th>
                <th>Game creator</th>
              </tr>
            </thead>
            <tbody class="scroller">
              <tr class="active" ng-repeat="x in nas = (games.all | filter:{sport:games.sportSearch} | filter:{number_of_players:games.numberSearch})" ng-click="games.selectGame(newGame)"><td>{{ x.sport }}</td><td>{{ x.date|date:'fullDate' }}</td><td>{{ x.placeName }}</td><td>{{ x.start_time }}</td><td>{{ x.end_time }}</td><td>{{ x.number_of_players }}</td><td>{{ x.creator.username }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>










