<div id="registration-page" ng-controller="PlayersController as players">
  <h3>Register</h3>

  <form class="form-horizontal"  id="register" ng-submit="players.register()">
    <fieldset>

        <div class="form-group">
            <label for="username" class="col-lg-2 control-label">Username</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" name="username" placeholder= "Username" ng-model="players.player.username">
                </div>
        </div>
        </br>
        <div class="form-group">
            <label for="fullname" class="col-lg-2 control-label">Full Name</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control"  name="fullname"  placeholder="fullname" ng-model="players.player.fullname">
                </div>
        </div>
        </br>
        <div class="form-group">
            <label for="image" class="col-lg-2 control-label">Image</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" name="image" placeholder="Image" ng-model="players.player.image">
                </div>
        </div>
        </br>
        <div class="form-group">
            <label for="address" class="col-lg-2 control-label">Address</label>
                <div class="col-lg-10">
                     <input type="text" class="form-control" name="address" placeholder="Address" ng-model="players.player.address">
                </div>
        </div>
        </br>
        <div class="form-group">
            <label for="postcode" class="col-lg-2 control-label">Postcode</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control"  name="postcode" placeholder="Postcode" ng-model="players.player.postcode">
                </div>
        </div>
        </br>
        <div class="form-group">
            <label for="email" class="col-lg-2 control-label">Email</label>
                <div class="col-lg-10">
                    <input type="email" class="form-control" name="email" placeholder="Email" ng-model="players.player.email">
                <div>
        </div>
        </br>
        <div class="form-group">
            <label for="password" class="col-lg-2 control-label">Password</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" name="password" placeholder="Password" ng-model="players.player.password">
                </div>
        </div>
        </br>
        <div class="form-group">
             <label for="textArea" class="col-lg-2 control-label">Description</label>
                <div class="col-lg-10"> 
                    <textarea class="form-control" rows="3" id="textArea" type="text"  name="description"   placeholder="Description" ng-model="players.player.description"></textarea> 
                </div>
        </div>
        </br>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                    <input type="submit" value="Access" class="btn btn-primary">
            </div>
        </div>
    </fieldset>
  </form>  
</div>